<!DOCTYPE html>
<html>
<head>
  <title>FcDivariet</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="assets/fc_logo.ico">
  <!DOCTYPE html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<title>Energy &mdash; 100% Free Fully Responsive HTML5 Template by FREEHTML5.co</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
  	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
  	<meta name="author" content="FREEHTML5.CO" />

    <!--
  	//////////////////////////////////////////////////////

  	FREE HTML5 TEMPLATE
  	DESIGNED & DEVELOPED by FREEHTML5.CO

  	Website: 		http://freehtml5.co/
  	Email: 			info@freehtml5.co
  	Twitter: 		http://twitter.com/fh5co
  	Facebook: 		https://www.facebook.com/fh5co

  	//////////////////////////////////////////////////////
  	 -->

    	<!-- Facebook and Twitter integration -->
  	<meta property="og:title" content=""/>
  	<meta property="og:image" content=""/>
  	<meta property="og:url" content=""/>
  	<meta property="og:site_name" content=""/>
  	<meta property="og:description" content=""/>
  	<meta name="twitter:title" content="" />
  	<meta name="twitter:image" content="" />
  	<meta name="twitter:url" content="" />
  	<meta name="twitter:card" content="" />

  	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  	<link rel="shortcut icon" href="favicon.ico">

  	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet"> -->

  	<!-- Modernizr JS -->
  	<!-- FOR IE9 below -->
  	<!--[if lt IE 9]>
  	<script src="js/respond.min.js"></script>
  	<![endif]-->
</head>
<body>
<div id="fh5co-wrapper">
  <div id="fh5co-page">
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</div>
<!-- jQuery -->

<script src="assets/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="assets/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="assets/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="assets/jquery.waypoints.min.js"></script>
<!-- Superfish -->
<script src="assets/hoverIntent.js"></script>
<script src="assets/superfish.js"></script>
<!-- Flexslider -->
<script src="assets/jquery.flexslider-min.js"></script>
<!-- Stellar -->
<script src="assets/jquery.stellar.min.js"></script>
<!-- Counters -->
<script src="assets/jquery.countTo.js"></script>

<!-- Main JS (Do not remove) -->
<script src="assets/main.js"></script>



</body>
</html>
